
# CE_Graph configuration.
# Commandline parameters override values in the configuration file.
# execthreads=2
loadthreads = 4
niothreads = 2

# Good for 8gigs
#membudget_mb = 3000

# Good for 4 gigs
membudget_mb = 800

machines = 2
IP1=192.168.3.81
IP2=192.168.3.84

# I/O settings
#preload.max_megabytes = 300
io.blocksize = 1048576 

# Comma-delimited list of metrics output reporters.
# Can be "console", "file" or "html"
metrics.reporter = console,file,html
metrics.reporter.filename = ddgraph_metrics.txt
metrics.reporter.htmlfile = ddgraph_metrics.html




